
* {
color: #e0e0e0;
}

body {
    margin: 0;  
    /* background: url('https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-108756.jpg'); */
    background:
    linear-gradient(180deg, 
        rgba(0, 0, 39, 1) 0%,    /* Very dark blue (near black) */
        rgba(0, 0, 77, 0.9) 40%, /* Slightly lighter dark blue */
        rgba(0, 0, 120, 0.8) 70%, /* Medium dark blue */
        rgba(0, 0, 200, 0.6) 100%); /* Lighter blue at the bottom */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;  
    max-width: 100vw;
    overflow-x: hidden;
    font-family: "Bad Script", serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    transition: background 0.5s ease, color 0.5s ease; 
}

@media (max-width: 1024px) {

    body {
        background: 
        linear-gradient(180deg, 
            rgba(0, 0, 15, 1) 0%,    /* Very dark blue (almost black) */
            rgba(0, 0, 35, 0.9) 40%, /* Darker blue, closer to black */
            rgba(0, 0, 60, 0.8) 70%, /* Darker medium blue */
            rgba(0, 0, 100, 0.6) 100%); /* Darker lighter blue */
    background-size: cover;
    background-attachment: fixed;
    }
}

/* Dark Mode Styles */
body.dark-mode {  
    background: url('https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-108756.jpg');
    /* background: linear-gradient(to bottom, #000000, #141414); */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;  
    font-family: "Bad Script", serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    transition: background 0.5s ease, color 0.5s ease; 
    color: #f1f1f1;
    margin: 0; 
}

body.dark-mode .toggle-mode {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Section Layout */
header, section {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    color: whitesmoke;
    transition: background-color 1.5s ease;    
}

#home {
    background-image: url("./images/bp_background_2_blue1.jpg");
	width: 100%;
    height: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#name {
border-radius: 5px;
text-shadow: 2px 2px 15px #333;
}

.headLine, .title {
background: rgb(58, 58, 136) !important;
padding: 15px;
border-radius: 50px;
text-shadow: 2px 2px 15px #333;
max-width: 60%;
}

@media (max-width: 600px) {
    .headLine {
        background: transparent !important;        
     }
}

#about {
    max-width: 400px;
    margin: 0 auto;    
    /* background: url('https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-108756.jpg'); */
    /* border-bottom: 1px solid gray; */
    
}

@media screen and (max-width: 600px) {

    #about {
        max-width: 100%;
    }

}

.photo {     
    object-fit: contain;
    
}

#technical_skills {
height: auto;
width: 100%;
margin-bottom: 20vh;
}



.skillsDivisions.transitioning {
    opacity: 0;
    transition: opacity 0.5s ease; /* Smooth fade-out transition */
  }
  
  .skillsDivisions {
    opacity: 1; /* Default opacity */
  }


.skillsRefreshWrapper {
    text-align: center;
    margin-top: 20px;  
          
  }
  
  .sliderRefreshBtn {
    background: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #444;
    transition: transform 0.5s ease;
  }
  
  .sliderRefreshBtn:hover {
    transform: rotate(180deg);
    color: #007bff;
  } 
  


@media (min-width: 480px) {

    .skillsDivisions {
        display: grid;
        gap: 1rem;
        justify-items: center;
        
    }

    .skillsDivisions {
        grid-template-columns: 1fr 1fr 1fr;
        transition: 1s;
    }
}

.skills_wrapper {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 1s ease, transform 2s ease; /* Adjust timing for smoother transition */
  }
  
  .skills_wrapper.visible {
    opacity: 1;
    transform: scale(1);
  }
  
  .slider {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0; /* Start with hidden state */
    transform: scale(0.9); /* Optional: To make the whole slider slightly smaller initially */
    transition: opacity 1s ease, transform 1s ease; /* Transition to fade in and scale up */
  }
  
  .slider.show {
    opacity: 1;
    transform: scale(1); /* Scale back to normal */
  }

.sliderBtns, .cert-nav-arrow{    
    
    font-size: 20px;
    color: #f1f1f1;
    background: rgb(58, 58, 136);
}


.sliderBtns:hover {
    cursor: pointer;
}



@keyframes slide-in-right {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


/* Skills Wrapper */
.skills_wrapper {
    display: block;
    margin: 8px;
}

.skillsDiv, .aboutTxt {
    opacity: 1;
    scale: 1;
    transition: opacity 1s ease-in 0.2s, transform 1s ease-in 0.2s;
}

.skillsDiv.visible, .aboutTxt.visible {
    opacity: 1;
    scale: 1;
}

.certsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20vh;
}

.certsDiv div {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 2rem;
}

.certsDiv h2 {
padding: 15px;
border-radius: 50px;
text-shadow: 2px 2px 15px #333;
}


@media (max-width: 768px) {
    .certificationsImages:hover {
        transform: none;
        }

    /* .imgCert {
        height: 110px;
        width: 110px;
    } */


}


/* About Section Image */
.photo {
    border-radius: 20px;
    height: 250px;
    width: 200px;
    max-width: 80%;
}

.sectionProjects {       
        
        width: 100%;
        height: auto;
    
}


/* Image Section Styling */
.imageSection {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
  height: auto;  
  gap: 2rem;      
  padding: 15px;                     
}

@media (min-width: 1200px) {
    .imageSection {
        width: 80%;
    }
}

.project {
    width: 100%;  
    max-width: 500px;   
    height: 100%;
    box-sizing: border-box; 
    margin: 0; 
    transition: 0.3s;
    cursor: pointer;    
    border-radius: 20px;
    background-color: transparent;
    border-bottom: 1px solid gray;
     
}


.slide-in-right {
    opacity: 1 !important;
    transform: scale(1);
    animation: slide-in-right 0.7s ease-out forwards;
}


.project .img {
    width: 100%; 
    height: 300px; 
    border-radius: 20px;
    object-fit: cover;    
    z-index: 1; 
}

/* Slide-In from Right Animation */
.active {
    opacity: 1 !important;
    transform: scale(1);
    animation: slide-in-right 0.7s ease-out forwards;
}

#cakery {
height: auto;
max-width: 250px;
}

/* Hover Effect on Image */
.project:hover {
    transform: scale(0.98);         /* Slight zoom effect */
    opacity: 1;                    /* Make the image visible on hover */
}

@media (max-width: 768px) {
    .project:hover {
        transform: none; /* Disable hover effect on mobile */
    } 


}

/* Pulse Effect for Down Arrows */
.pulse {
    animation: pulse 1.5s infinite ease-in-out alternate;
}

@keyframes pulse {
    from { transform: scale(0.8); }
    to { transform: scale(1.2); }
}

/* Styling the Down Arrows */
.down-arrow {
    margin-top: 20px;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    transition: color 0.7s ease;
    opacity: 1;
    display: block;
}

.down-arrow:hover {
    color: #333;
}

/* Social Media Icons */
.social_media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


a {
    color: whitesmoke;
    text-decoration: none;
    transition: 0.5s;
}

.social_media a:hover {
    transform: scale(1.2);    
}

#mailLink:hover {
    transform: scale(1.2);
}

/*Media Query for Tablet*/
@media (max-width: 1100px) { 

    .project:hover {
        transform: none; /* Disable hover effect on mobile */
    } 

    #technical_skills {
    background-attachment: scroll;}

    .sectionProjects {
        background-attachment: scroll;
        padding-bottom: 20vh;
    }
}

@media (max-width: 500px) {
    .sectionProjects {
        height: auto;
    }
}

/* Media Query for Mobile */
@media only screen and (max-width: 767px) {

    #about{
        margin-bottom: 20vh;
    }



    .imageSection {
        flex-direction: column;      
        align-items: center;
        height: 100%;        
        gap: 1rem;                  
    }

    .project {
        width: 90%;                   
        max-width: 400px;            
        margin: 0 auto;             
       
    }
}

/* Style for the Toggle Mode Button */
.toggle-mode {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hover effect for the button */
.toggle-mode:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

/* Ionicons styling */
ion-icon {
    pointer-events: none; 
    transition: transform 0.3s ease;
}

/* Dark Mode - Button icon */
body.dark-mode .toggle-mode ion-icon {
    color: #fff;
}

/* Optional: Adjust the icon size for better display */
ion-icon {
    font-size: 30px;
}

#mailLink {
    font-style: italic;
    font-weight: 400;
}



/* /* h3 text animation */
.typing-text {
    font-size: 2rem;
    font-weight: bold; 
    display: inline-block;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;   
    padding-right: 5px;
    
}

/* Create a typing effect animation */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Optional: Blink effect for the cursor */
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* Bounce-in effect for h3 (Web Designer & Front End Developer) */
@keyframes bounceIn {
    0% {
        transform: translateY(-2000px);
        opacity: 0;
    }
    60% {
        transform: translateY(30px);
        opacity: 1;
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.bounce-text {
    animation: bounceIn 1s ease-out forwards;
}

#contact {
    background-image: url("https://million-wallpapers.ru/wallpapers/4/35/503339429260115/apple-nastolnye.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
    width: 100%;
    height: auto;
}



/* animations for certs */
 
  
  .certificationsImages {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .certificationsImages.show {
    opacity: 1;
    transform: scale(1);
  }

/* styling for mobile phones projects and arrows */

  .project-nav {  
    height: 100%;
  }
  
  @media (min-width: 480px) {
    .projectRenew {
      display: none;
    }
  }

  .oneProjectTitle, .titleEnding {
    background: rgb(58, 58, 136) !important;
  }
  
  .project-details {
    text-align: center;
    
  }
  
  .project-details h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  
  .projectImgsForPhone {
    width: 90%;
    max-height: 100%;
    height: auto;
    border-radius: 8px;
  }
  

  .project-fade {
    transition: opacity 0.7s ease;
    opacity: 1;
  }
  
  .project-hidden {
    opacity: 0;
  }
  


